@model MonolithDS.Domain.Ebay.ProductManagement.EbayListingViewModel

@{
    ViewBag.Title = "List";
}

@{
    ViewBag.Title = "Moo";
}

@foreach (var product in Model.EbayListings)
{
    @Html.Partial("ListingSummary", product);
}

<div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("List",new { page = x}))
</div>