@model MonolithDS.WebUI.Models.Ebay.EbayListingViewModel

@{
    ViewBag.Title = "List";
}

@{
    ViewBag.Title = "Moo";
}

@foreach (var product in Model.EbayListings)
{
    <div>
        <h3>@product</h3>
        <h4>@product.Name</h4>
    </div>
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("List",new { page = x}))
</div>