@model MonolithDS.Domain.Ebay.ProductManagement.EbayListingViewModel

@{
    ViewBag.Title = "List";
}

@{
    ViewBag.Title = "Moo";
}

@foreach (var product in Model.EbayListings)
{
    <div>
        <h3>@product.EbayListingId</h3>
        <h4>@product.Name</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("List",new { page = x}))
</div>