@model IEnumerable<MonolithDS.Domain.Ebay.EbayListing> 

@{
    ViewBag.Title = "List";
}

@foreach (var product in Model)
{
    <div>
        <h3>@product.EbayListingId</h3>
        <h4>@product.Name</h4>
    </div>
}
